APP_DEBUG=true
APP_URL=http://localhost
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=rentcar
DB_USERNAME=root
DB_PASSWORD=

APP_KEY=base64:M+4d9gdw1vusIG4xVRxYHmLG4WDjjTQz3On6CCjz4zQ=
SANCTUM_STATEFUL_DOMAINS=
CACHE_DRIVER=file
SESSION_DRIVER=file